{% set headdescription = header.description %}

<!DOCTYPE html>
<html lang="ru">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ headdescription }}" />
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    {% block stylesheets %}
        {% do assets.addCss('theme://css/main.css') %}
        {% do assets.addCss('theme://css/custom.css') %}
    {% endblock %}
    {{ assets.css() }}
    {% block javascripts %}
        {% do assets.addJs('jquery', 101) %}
        {% do assets.addJs('theme://js/site.js', {group:'bottom'}) %}
    {% endblock %}
    {{ assets.js() }}
{% endblock head %}
</head>

<body>

{% include 'partials/header.html.twig' %}

<section class="content content_p1">
    
    {% include 'partials/sidebar.html.twig' %}
    
    {% block body %}
        {% block content %}{% endblock %}
    {% endblock %}
    
</section>

{% include 'partials/footer.html.twig' %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
