
<section class="sidebar">

    <div class="sidebar-close">
        <span class="sidespan1">&#9668;</span> <span class="sidespan2">Hide</span>
    </div>

    <div class="sidebar-part">
        <div class="box-photo">
            {% if sidebar_mainphoto %}
                {% set mainphoto = (sidebar_mainphoto|first).name %}
                  <img class="photo" src="{{ url('theme://images/' ~ mainphoto)  }}" alt="{{ site.name }}" />
                {% else %}
                  <div class="nophoto">?</div>
            {% endif %}
        </div>
    </div>

    {% if sidebar_maintitle %}
    <div class="sidebar-part">
        <h2 class="maintitle">{{ sidebar_maintitle }}</h2>
    </div>
    {% endif %}

    {% if sidebar_maindescription %}
    <div class="sidebar-part">
        <h2 class="maindescription">{{ sidebar_maindescription }}</h2>
    </div>
    {% endif %}

    {% if sidebar_myactivity %}
    <h3 class="myactivityname">{{ sidebar_myactivityname }}</h3>
    <div class="sidebar-part">
        <p class="myactivity">{{ sidebar_myactivity }}</p>
    </div>
    {% endif %}

    {% if sidebar_inworkuse %}
    <h3 class="inworkusename">{{ sidebar_inworkusename }}</h3>
    <div class="sidebar-part box-inworkuse">
        {% set inworkuselist = sidebar_inworkuse|split(',') %}
        {% for key,value in inworkuselist %}
            <p class="item-inworkuse">{{ value }}</p>
        {% endfor %}
    </div>
    {% endif %}

</section>